<div class="mb-3 form-floating">

    <input [class.is-invalid]="control.touched && control.invalid" [type]="type()" class="form-control"
        [formControl]="control" placeholder="{{label()}}">
    <label>{{label()}}</label>

    <div *ngIf="control.hasError('required')" 
        class="invalid-feedback text-start">
        {{label()}} is required
    </div>

    <div *ngIf="control.hasError('minlength')" 
        class="invalid-feedback text-start">{{label()}} atleast need
        {{control.errors?.['minlength'].requiredLength}} characters
    </div>

    <div *ngIf="control.hasError('maxlength')" 
        class="invalid-feedback text-start">{{label()}} maximum length is
        {{control.errors?.['maxlength'].requiredLength}} characters
    </div>

    <div *ngIf="control.hasError('isMatching')" 
        class="invalid-feedback text-start">
        Confirm Password do not match with password
    </div>

</div>